
.bg-landing {
    width: 100px; height: 100px;
    background: url('css_sprites.png') -10px -10px;
}


.bg-dishes {
    width: 100px; height: 100px;
    background: url('css_sprites.png') -130px -10px;
}


.bg-rocketship {
    width: 100px; height: 100px;
    background: url('css_sprites.png') -250px -10px;
}


.bg-ufo {
    width: 100px; height: 100px;
    background: url('css_sprites.png') -370px -10px;
}


.bg-saturn {
    width: 100px; height: 100px;
    background: url('css_sprites.png') -490px -10px;
}