.box {

width: 200px;
height: 200px;
background-color: hsl(323, 44%, 47%);;

}

/* color: #ab4383            //(for hexadecimal values)
   color: hsl(323, 44%, 47%); //for hsl,,note : remove degree cz this is not a valid char for css.

   color:   