.box {

    width: 300px;
    height: 300px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(215,31,177,0.045454545454545414) 35%, rgba(0,212,255,1) 100%);
}